.color-picker
  .picked-color
  .swatches
    .swatch-column
      {{#each left}}
        .swatch{style: "background:{{this}}"}
      {{/each}}
    .swatch-column
      {{#each mid}}
        .swatch{style: "background:{{this}}"}
      {{/each}}
    .swatch-column
      {{#each right}}
        .swatch{style: "background:{{this}}"}
      {{/each}}
