body {
  margin: 0;
  padding: 0; }

.svg-holder {
  margin: 0 auto;
  width: 400px; }

svg * {
  pointer-events: none; }

g[id^='C_x3E_'], g[id^='C_x3E_'] * {
  pointer-events: all;
  -webkit-transition: fill 0.1s linear 0s;
  -moz-transition: fill 0.1s linear 0s;
  -o-transition: fill 0.1s linear 0s;
  transition: fill 0.1s linear 0s;
  cursor: pointer; }
  g[id^='C_x3E_']:hover, g[id^='C_x3E_'] *:hover {
    opacity: 0.96; }
